# SPDX-License-Identifier: GPL-3.0-only
#
# systemd/sud.socket
#
# Copyright (C) Emily <info@emy.sh>

[Unit]
Description=Super User Daemon - privilege manager for systemd/Linux 
Requires=sud.service

[Socket]
ListenStream=@sud_privilege_manager_socket
Accept=no

[Install]
WantedBy=sockets.target
